/* bacckground image */
body {
    background-image: url(./images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* settings for heading */
.heading {
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:#fff;
    text-shadow: 5px 5px 5px rgb(133, 132, 132);
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 400px) {
    h1 {
        font-size: 5rem;
    }
}

/* Setting for the social buttons */
.socials {
    display: flex;
    justify-content: center;
    column-count: 4;
    column-gap: 40px;
    padding-bottom: 20px;
    padding-top: 20px;  
}

@media (max-width: 400px) {
    .socials {
        padding: 0;
    }
}

/* settings for navigation and its buttons */
.navigation {
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 100px);    
    gap: 80px;
    padding-top: 30px;;
    justify-content: center;
}

@media (max-width: 600px) {
    .navigation {
        grid-template-columns: repeat(4, 70px); 
        gap: 15px;
    }
}

button {
    background-color:rgb(39, 37, 37);
    padding: 4px;
    font-size: small;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    color: white;
  }

  @media (max-width: 400px) {
    button {
        margin-bottom: 10px;
    }
}

/* container for content */
h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
    color: white;
    margin-bottom: 20px;
}

span {
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px rgb(133, 132, 132);
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
}

/* content text */
.text {
    display: grid;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
    color: white;
}


@media (max-width: 600px) {
    .text {
        font-size: 1rem;
    }
    span {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}

/* about me page */
.about-content {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    padding-top: 2%;
    grid-auto-flow: row;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
}

@media (max-width: 600px) {
    .about-content {
        display: flex;
        display: inline-block;
        justify-content: center;
    }
    .about-image {
        width: 380px;
        margin-top: 15%;
        margin-left: 25px;
    }
    .p2 {
        text-align: center;
        font-size: 1.2rem;
    }
}

.about-me {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
}

/* portfolio page */
.portfolio_container {
    display: grid;
    gap: 2rem ;
    margin-left: 10%;
    width: 80%;
    height: 40vh;
    grid-template-columns: repeat(3, 1fr);


}

.portfolio_container img {
    width: 250px;
    height: 150px;
    border-radius: 8px;


}

.portfolio-img {
    background-color: rgba(214, 217, 228, 0.8);
    border: 5px solid rgba(236, 226, 226, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.img-text {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
}
