/* main bacckground image and its display settings */
body {
    background-image: url(./images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 10rem;
}

/* display and style settings for footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* Home Page */

/* remove hyperlinks decoration from the header/title */
#jonas {
  text-decoration: none;
}
/* styling and display setting for the header/title */
.heading {
  font-size: 6rem !important;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #ffffff !important;
  text-shadow: 5px 5px 5px rgb(133, 132, 132);
}

/* spacing for the heading */
h1 {
  margin-bottom: 0;
  margin-top: 0;
}

/* setting for responsive mobile view */
@media (max-width: 400px) {
  h1 {
    font-size: 5rem !important;
  }
}

/* Social Buttons */

/* display setting for the social buttons and how its displayed*/
.socials {
  display: flex;
  justify-content: center;
  column-count: 4;
  column-gap: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* setting for responsive mobile view */
@media (max-width: 400px) {
  .socials {
    padding: 0;
  }
}

/* Navigation Buttons */

/* settings and styling for navigation buttons */
.navigation {
  font-family: "Oswald", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 80px;
  padding-top: 30px;
  justify-content: center;
}

/* settings for responsive mobile view */
@media (max-width: 600px) {
  .navigation {
    grid-template-columns: repeat(4, 80px);
    gap: 15px;
  }
}

@media (max-width: 400px) {
  button {
    margin-bottom: 10px;
  }
}

/* display setting for the navigation button */
.nav-button {
  padding: 0.3rem;
  background-color: rgb(54, 53, 53);
  color: #fdf7f7;
  border-radius: 15px;
  border: 2px solid #ffffff;
  transition: 0s;
  text-align: center;
}

/*  action settings for the navigation button */
.nav-button:hover {
  color: black;
  background-color: white;
}

/* Main Text Body */

/* container for content */
h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000,
    -1px 1px 0 #000;
  color: white;
  margin-bottom: 20px;
  margin-top: 80px;
}

/* display and highlight setting for Jonas in the text body */
span {
  font-size: 2rem;
}

/* main text content style and display settings */
.text {
    display: grid;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
}

/* setting for responsive mobile view */
@media (max-width: 600px) {
  .text {
    font-size: 1.5rem;
  }
  span {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

/* display setting of the main body of text */
p {
  margin-top: 0;
}

/* About Me Page */

/* about me page title display and styling settiings*/
.about-subheading{
    display: grid;
    margin: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
}

.aboutme-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;

}

/* about me page image and text display and styling settiings*/
.about-content {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
    grid-auto-flow: row;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    text-shadow:
	-1px -1px 0 #000,
	-1px -1px 0 #000,
	-1px 1px 0 #000,
	-1px 1px 0 #000;
}


/* setting for responsive mobile view */
@media (max-width: 600px) {
    .about-content {
        display: flex;
        display: inline-block;
        justify-content: center;
    }
    .about-image {
        width: 380px;
        margin-top: 15%;
        margin-left: 25px;
    }
    .p2 {
        text-align: center;
        font-size: 1.2rem;
    }
}

/* styling settings for resume link */
#resume {
    text-decoration: none;
    color: white !important;
    font-size: 1.5rem !important;
}

#resume:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

/* Portfolio Page */




.portfolio_container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin-top: 80px;;
    padding: 20px;
    place-items: center;
    max-width: 95%;
}

/* postcard images display settings */
.portfolio_container img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
}

.portfolio-img {
    background-color: rgba(214, 217, 228, 0.8);
    border: 5px solid rgba(236, 226, 226, 0.8);
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.img-text {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
}

